BODY	{
    FONT-SIZE:10pt;
    COLOR: #000000;
    FONT-FAMILY: Verdana;  
}

TABLE	{
	FONT-SIZE:10pt;
    BORDER: 0px;
    FONT-FAMILY: Verdana;
    COLOR: #000000;       
}

TD.titulo	{
    FONT-SIZE: 12pt;
    COLOR: #000000;
    font-weight: bold;
    FONT-FAMILY: Verdana;
    height: 23px;
}

TD.titulo1	{
	FONT-SIZE:10pt;
    COLOR: #000000;
    font-weight: bold;
    FONT-FAMILY: Verdana;
    height: 23px;
    padding-left:5px;
}

TD.titulo11	{
	FONT-SIZE:10pt;
    COLOR: #000000;    
    FONT-FAMILY: Verdana;
    height: 23px;
    padding-left:5px;
}

TD.titulo2	{
	FONT-SIZE:10pt;
    COLOR: #000000;
    font-weight: bold;
    FONT-FAMILY: Verdana;
    height: 23px;
    text-indent: 10px;
}

.clsNormal	{
	FONT-SIZE:10pt;
	color: #000000; 
	font-weight: normal; 
	text-decoration: none;
  border: #000000 0px solid;
  text-indent: 5px;
  text-align:right;
  padding-right:5px;
}
.clsNormalString{
	FONT-SIZE:10pt;
	color: #000000; 
	font-weight: normal; 
	text-decoration: none;
  border: #000000 0px solid;
  text-indent: 5px;
  text-align:left;
  padding-right:5px;
}

TD.BORDEAZUL	{
	FONT-SIZE:10pt;
    BACKGROUND-COLOR: #ffffff;    
    BORDER: #000000 0px solid;   
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    COLOR: #000000;    
    text-align:center;
    height:23px;
}

.tablaprincipal	{
	FONT-SIZE:10pt;
	width:100%;
	text-align:center;
	vertical-align:top;
	margin-left:0px;
	background-color: #ffffff;	
}
.tablainterior			{
	FONT-SIZE:10pt;
	background: #FFFFFF;
	width:100%;
	border: 0px solid #000000;
	overflow: scroll;
	margin-bottom: 10px;
}

.tablainterior2	{
	FONT-SIZE:10pt;
	width:100%;
	border:0px solid #000000;
	text-align:left;
	background: #ffffff;		
	padding:2px;
}

.tablainterior3	{
	FONT-SIZE:10pt;
	width:100%;
	border:0px solid #000000;
	text-align:left;
	background: #ffffff;		
	padding:10px;
}

