#content_usuarios {
   padding-bottom:100px; /* Altura del footer */
   padding-bottom:50px\9;
   background-image:url(../img/bg.jpg);
   background-repeat:repeat-x;
   height:380px;
   min-width:1024px;
}
#principal_usuario{
width:97.8%; height:100%;
float: left;
margin:1%;
_margin: 10px 5px 7px 5px; /*IE*/
border:1px solid #000099;
background-color:#FFFFFF;
min-width:450px;
}
#volver{ float:right; margin:10px 0.5% 0 0px; width: 6%; height:20px; }
#volver-text{ float:left;font-size:14px; color:#2247C6; width:20px;}
#volver-img{float:left; background-image: url(../img/volver.png); width:16px; height:16px; margin:2px 5px 0 0 ;}

#titulos_2{
font-family:Arial, Helvetica, sans-serif;
font-size:16px; font-weight:bold;
color:#DF6800;
margin:10px 0 10px 0px;
text-align:center;
}
#cuadro_usuarios{ clear:both;
    background-color:#F5F8FA;
	border:1px solid #d2e0ea; 
    border-radius:4px;
    -moz-border-radius:4px;
	margin:7px 5px 5px 5px;
    padding:8px 5px 5px 5px;
	overflow: hidden;
	height:80%;
}
#titulo{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px; font-weight:bold;
	color: #DF6800;
	margin: 10px 5px 10px 20px;
	_margin: 10px 5px 10px 10px;
	width:75%;                                                                                                   
	}
#marco{margin:0 5px 0 5px;}	
#campos{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#31508E;
border:1px solid #fff;
width:50%;
}
#campos2{
float:left;	
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#31508E;
border:1px solid #fff;
width:16%;
}
#insert{
border:1px solid #ccc;
width:99%;
}
#input_titulo{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#333333;
width:50%;
_min-width:300px;
_overflow:hidden;
border:1px solid #31508E;
}
#text_area{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#333333;
width:96%;
_min-width:300px;
border:1px solid #31508E;
}
#input_insert{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#333333;
width:100%;
border:1px solid #31508E;
}
.option{ border: 1px solid #31508E; 
		 width:180px;  height:25px;
		 float:left;
		 font-family:Arial, Helvetica, sans-serif;  
		 padding:0px 0px 0px 2px; 
		}
#anuncios {margin-right:10px;}		
.file_1 {
    background: #ffffff;
    color: #888;
	width:100%;
}
#botones{width:70%;float:left;}
#links{font-family:arial; color:#FFFFFF;text-decoration: none;}
#links a {text-decoration: none;}
/******************************************BUSCAR**********************/
.buscar{
float:right;
width:16%; min-width:200px;
margin:0% 0% 0% 0%;
height:27px;
}
.icon{
background-image:url(../img/icon/search.png);
background-color:#F5F8FA;
width:15px; height:15px;
float:left;
margin:5px 0% 5px 5px;
border:0px;
}
.icon:hover, .icon:active, .icon.active, .icon.disabled, .icon[disabled] {
    background-color: #999999;   
}

#input-buscar{	background-color:#FFFFFF;
				float:left;
				width:150px; height:16px;
			}

/***********************fin Buscar****************************/
.bar-usuarios{
background-color:#CCCCCC;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#333333;
	float:left;
	border:1px solid #DDDDDD; 
   	margin:8px 0px 5px 0px;
	_margin:0px 5px 15px 4px;
	padding:2px 0px 2px 2px;
	width:99.5%;
	height:20px;
}
#id{ 		float:left; width:9.5%;text-align:center; border:0px solid #ffffff; margin-left:9px;}
#nick{ 		float:left; width:14.5%;text-align:center;border:0px solid #000000;}
#nombre{ 	float:left; width:21%;text-align:center;border:0px solid #ffffff;}
#correo{ 	float:left; width:18%;text-align:center;border:0px solid #000000;}
#fecha_b{ 	float:left; width:12%;text-align:center;border:0px solid #ffffff;}
#eliminar{ 	float:left; width:7%;text-align:center;border:0px solid #000000;}
#modificar{ float:left; width:8%;text-align:center;border:0px solid #ffffff;}
#ver_u{ 		float:left; width:7%;text-align:center;border:0px solid #000000;}

.users{		overflow:auto; clear:both; height:228px; margin-left: 2px; }		
.info-usuarios{		background-color:#E6E6E6;
					font-family:Verdana, Arial, Helvetica, sans-serif;
					font-size:13px; color:#333333;
					float:left;
					border-top:1px solid #cccccc;
					width:100%; height:22px;
			}	
.fade {
    -moz-transition: opacity 0.15s linear 0s;
    opacity: 100;
}
.fade.in {
    opacity: 50;
}			
#id_us{			float:left; width:9.5%;text-align:center;  margin-left:10px;}				
#nick_us{		float:left; width:14.7%;text-align:center; border:0px solid #000000;}
#nom_us{		float:left; width:21.4%;text-align:center; border:0px solid #ffffff;}
#correo_us{		float:left; width:18.4%;text-align:center; border:0px solid #000000;}
#fecha_us{		float:left; width:11.8%;text-align:center;border:0px solid #ffffff; }
#check{			float:left; width:4.1%; padding-left: 3%; border:0px solid #000000;}
#modificar-edit{float:left; width:8%;text-align:center;border:0px solid #ffffff;
				background-image: url(../img/icon/settings.png);
				width:16px; height: 16px;
				margin:3px 0 0 3.5%;}
#ver-max{		float:left; width:5.9%;border:0px solid #000000;
				background-image: url(../img/icon/ver-mas.png);
				width:15px; height: 15px;
				margin:3px 0 0 6%;}

#paginacion{	width:98%; height:18px; 
				text-align: right; 
				font-size:12px; color:#2247C6;
				letter-spacing:5px; 
				margin:3px 3px 10px;
				}
#paginacion a{	outline:none; text-decoration: none; }
#paginacion a:hover{text-decoration: none; text-shadow:0 1px 2px #00ffff, 0 1px 2px #00ffff;}
#paginacion a:active{font-size:14px; font-weight:bold; border:1px dotted #cccccc; }
#link{font-size:14px; font-weight:bold; color:#DF6800; padding-left: 5px;}