BODY	{
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #B8C4CC; 
    overflow: auto;   
}
html	{margin:0px auto;}

select {
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: Verdana;		
}
.select1 {
	width:100%;
    FONT-SIZE: 10pt;
    COLOR: #003399;
    FONT-FAMILY: Verdana;		
}
.select320{
		width:320px;
    FONT-SIZE: 8pt;
    COLOR: #003399;
    FONT-FAMILY: Verdana;		
}
TABLE	{
    BORDER: medium none;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 8pt; 
    COLOR: #003399;       
}

TD.labelUno	{
    FONT-SIZE: 12pt;
    FONT-FAMILY: Verdana;
    padding-left: 5px;
}

TD.labelDos	{
    FONT-SIZE: 12pt;
    FONT-FAMILY: Verdana;
}

TD.titulo	{
    FONT-SIZE: 16pt;
    COLOR: #003366;
    font-weight: bold;
    FONT-FAMILY: Verdana;
    height: 40px;
}

TD.titulo1	{
    FONT-SIZE: 8pt;
    COLOR: #003366;
    font-weight: bold;
    FONT-FAMILY: Verdana;
    height: 40px;
}

TD.titulo11	{
    FONT-SIZE: 8pt;
    COLOR: #003366;    
    FONT-FAMILY: Verdana;
    height: 40px;
}

TD.titulo2	{
    FONT-SIZE: 10pt;
    COLOR: #003366;
    font-weight: bold;
    FONT-FAMILY: Verdana;
    height: 27px;
    text-indent: 10px;
}

TD.clsbienvenida	{
    FONT-SIZE: 12pt;
    COLOR: #003366;
    font-weight: bold;
    FONT-FAMILY: Verdana;
    height: 30px;
}
TD.clsOpciones	{
	FONT-SIZE: 7pt;
	COLOR: #003399;
	FONT-FAMILY: Verdana
}
TD.clsTitleArea	{
  FONT-SIZE: 20px;
  COLOR: #ffffff;
  FONT-FAMILY: Verdana;
  FONT-WEIGHT: normal;
  background: #003355;
  padding: 4px;
  text-align: center;
}
TD.clsTitleError	{
  FONT-SIZE: 10pt;
  COLOR: Red;
  FONT-FAMILY: Verdana;
  FONT-WEIGHT: bold;
  padding: 15px 10px 2px;  
  text-align:center;
}
TD.clsSubTitle	{
  FONT-SIZE: 17px;
  COLOR: #003399;
  FONT-FAMILY: Verdana;
  FONT-WEIGHT: bold;  
  border-bottom: 2px solid #CCCCCC;
}
.clsNormal	{
	font-size: 10px; 
	color: #333333; 
	font-weight: normal; 
	text-decoration: none;
  border: #cccccc 1px solid;
  text-indent: 5px;
  text-align:right;
  padding-right:5px;
}
.clsNormalString{
	font-size: 10px; 
	color: #333333; 
	font-weight: normal; 
	text-decoration: none;
  border: #cccccc 1px solid;
  text-indent: 5px;
  text-align:left;
  padding-right:5px;
}
TD.clsNormalcopia	{
	font-size: 10px; 
	color: #333333; 
	font-weight: normal; 
	text-decoration: none;
  BORDER-RIGHT: #999999 1px solid;
  BORDER-TOP: #DEE6F7 1px solid;
  BORDER-LEFT: #DEE6F7 1px solid;
  BORDER-BOTTOM: #999999 1px solid;
  Text-indent: 5px;
}
TD.clsTotal		{
    BACKGROUND-COLOR: #DCDCDC;    
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #DEE6F7 1px solid;
    BORDER-LEFT: #DEE6F7 1px solid;
    BORDER-BOTTOM: #999999 1px solid;    
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    COLOR: #302f68;    
    FONT-SIZE: 10px;

/*	font-size: 10px; 
	color: white; 
	font-weight: bold; 
	text-decoration: none;
	BACKGROUND-COLOR: navy;
    BORDER-RIGHT: #999999 thin inset;
    BORDER-TOP: #ffffff thin outset;
    BORDER-LEFT: #ffffff thin outset;
    BORDER-BOTTOM: #999999 thin inset;
    */
}

TD.clsPequeno		{
    BACKGROUND-COLOR: #dee6f7;    
    BORDER-RIGHT: #999999 1px solid;
    BORDER-TOP: #DEE6F7 1px solid;
    BORDER-LEFT: #DEE6F7 1px solid;
    BORDER-BOTTOM: #999999 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;      
    COLOR: #003366;
    LINE-HEIGHT: normal;
    text-indent: 5px;
}
TD.clsFields	{
	font-size: 14px; 
	color: #003355; 
	font-weight: bold; 
	text-decoration: none;
}
TD.clsMSG		{
	font-size: 14px; 
	color: #000000; 
	font-weight: bold; 
	text-decoration: none
}
TD.BORDEAZUL	{
    BACKGROUND-COLOR: #88AFD6;    
    BORDER: #cccccc 1px solid;   
    FONT-WEIGHT: bold;
    LINE-HEIGHT: normal;
    COLOR: #302f68;    
    FONT-SIZE: 11px;
    text-align:center;
    height:23px;
}
TD.BORDEGRIS	{
    font: normal 14px verdana;	
	height:22px;
	vertical-align: top;
	white-space:nowrap;

	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;

	word-break:keep-all;
	word-wrap:normal;

	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;

	-moz-outline: none;
	-moz-user-focus: normal;
}

PRE		{
    FONT-SIZE: 8pt;
	  COLOR: #003399;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: transparent;
}
SPAN.footer	{
    FONT-SIZE: 10px;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica
}
HR				{COLOR: #c00020;}
A:link		{color: #003399;}
A:visited	{color: #003399;}
A:active	{color: #003399;}
A:hover		{color: #003399;}
A		{
  font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: bold; 
	text-decoration: none
}
A.clsMenu:link		{COLOR: #ffffff;}
A.clsMenu:visited	{COLOR: #ffffff;}
A.clsMenu:active	{COLOR: #ffffff;}
A.clsMenu:hover		{COLOR: #ffffff;}

input.valor	{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #000000; 
	font-weight: normal; 
	background: #FFFFFF;
	width:95%;
	text-align: right;
}
input.mserror	{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: Red; 
	font-weight: bold; 
	background: #FFFFFF;
	width:95%;
	text-align: center;
}

textarea            {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: navy;}
select              {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal}

.fondotabla					{
	background: #f5f5f5;
	border:1px solid #cccccc;
}
.tablaprincipal	{
	width:1220px;
	height:625px;
	border:1px solid #7f919d;
	text-align:center;
	vertical-align:top;
	margin-left:15px;
	background-color: #ffffff;	
}

.tablaprincipalSinMargen {
	width:1220px;
	height:400px;
	border:1px solid #7f919d;
	text-align:center;
	vertical-align:top;
	margin-left:0px;
	background-color: #ffffff;	
}

.tablainterior			{
	background: #FFFFFF;
	width:98%;
	border: 1px solid #CCCCCC;
	overflow: scroll;
	margin-bottom: 10px;
}
.tablainterior950			{
	background: #FFFFFF;
	width:98%;
	height:390px;
	border: 1px solid #CCCCCC;
	overflow: scroll;
	margin-bottom: 10px;
}
.tablainterior2	{
	width:98%;
	border:1px solid #7f919d;
	text-align:left;
	background: #f5f5f5;		
	padding:7px;
	font-size:24px;
}
.tablainterior3	{
	width:950px;
	border:1px solid #7f919d;
	text-align:left;
	background: #f5f5f5;		
	padding:7px;
}

.tablafondo	{
	background-color: #ffffff;		
}
.tablabotones	{
	width:98%;
	border:1px solid #7f919d;
	text-align:right;
	background-color: #f5f5f5;		
	padding-top:5px;
	height:40px;
}
.tablabotones2	{
	width:950px;
	border:1px solid #7f919d;
	text-align:right;
	background-color: #f5f5f5;		
	padding-top:5px;
	height:40px;
}
TD.margenizq	{
  padding-left: 5px;
 	border: 0px solid red;  
}
TD.margenizq2	{
  padding-left: 30px;
 	border: 0px solid red;  
}
TD.margender	{
	text-align: right;
  padding-right: 10px;
 	border: 0px solid red;  
}
.emergente	{
 	position: absolute; 
 	background: #DEE6F7; 
 	width: 200px; 
 	height: 70px; 
 	visibility: hidden;
 	border: 1px solid #6699cc;
 	margin: 0px;
 	padding: 5px;
}

.fondorepet  {
	background: #003355 url(../images/repet_encabezado_azul.jpg) repeat;
}

a#rolloverlimpiar {
	background-image:url(../images/btn_limpiar_off.jpg);
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;
}
a#rolloverlimpiar span	{display:none;} 
a#rolloverlimpiar:hover	{background-image:url(../images/btn_limpiar_on.jpg);}

a#rolloveragregar {
	background-image:url(../images/btn_agregar_off.jpg); 
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;	
}
a#rolloveragregar span	{display:none;} 
a#rolloveragregar:hover	{background-image:url(../images/btn_agregar_on.jpg);}

a#rollovermodificar {
	background-image:url(../images/btn_modificar_off.jpg); 
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;	
}
a#rollovermodificar span	{display:none;} 
a#rollovermodificar:hover	{background-image:url(../images/btn_modificar_on.jpg);}

a#rollovereliminar {
	background-image:url(../images/btn_eliminar_off.jpg); 
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;	
}
a#rollovereliminar span	{display:none;} 
a#rollovereliminar:hover	{background-image:url(../images/btn_eliminar_on.jpg);}

a#rolloverimprimir {
	background-image:url(../images/btn_imprimir_off.jpg); 
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;	
}
a#rolloverimprimir span	{display:none;} 
a#rolloverimprimir:hover	{background-image:url(../images/btn_imprimir_on.jpg);}

a#rolloverimprimirCupon {
	background-image:url(../images/btn_imprimirCupon_off.jpg); 
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;	
}
a#rolloverimprimirCupon span	{display:none;} 
a#rolloverimprimirCupon:hover	{background-image:url(../images/btn_imprimirCupon_on.jpg);}

a#rollovergrabar {
	background-image:url(../images/btn_grabar_off.jpg); 
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;	
}
a#rollovergrabar span	{display:none;} 
a#rollovergrabar:hover	{background-image:url(../images/btn_grabar_on.jpg);}

a#rolloverbuscar {
	background-image:url(../images/btn_buscar_off.jpg); 
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;	
}
a#rolloverbuscar span	{display:none;} 
a#rolloverbuscar:hover	{background-image:url(../images/btn_buscar_on.jpg);}

a#rollovervolver {
	background-image:url(../images/btn_volver_off.jpg); 
	height: 29px; 
	width: 36px; 
	display: block;
	border: 0px solid orange;	
}
a#rollovervolver span	{display:none;} 
a#rollovervolver:hover	{background-image:url(../images/btn_volver_on.jpg);}