/* registro usuarios*/
#principal_dat_us{
width:98%; height:auto;
float: left;
margin:1%;
_margin: 10px 5px 7px 5px; /*IE*/
border:1px solid #000099;
background-color:#FFFFFF;
min-width:450px;
}
form {
    margin: 0 0 0px;
}
#label_dat_us{	font-family:Arial, Helvetica, sans-serif;
				width:23.5%; height:18px;
				min-width:265px;
				border:1px solid #31508E;
				padding:4px 6px 4px 6px;
				float:left;
				margin:0px 4px 0px 4px;
				border-radius:4px;
				-moz-border-radius:4px;
				background-color:#E7E7E7;	}
#informacion_dat_us{	font-family:Arial, Helvetica, sans-serif;
						width:5%; height:18px;
						border:1px solid #31508E;
						padding:4px 6px 4px 6px;
						float:left; text-align:center;
						margin:0px 4px 0px 4px;
						border-radius:4px;
						-moz-border-radius:4px;
						background-color:#E7E7E7;			}	
#cuadro_dat_us{		clear:both;
					background:#F5F8FA;
					border:1px solid #d2e0ea; 
					border-radius:4px;
					-moz-border-radius:4px;
					margin:7px 5px 5px 5px;
					padding:8px 5px 5px 5px;
					overflow: hidden;
					height:100%;	}
#titulo_dat_us{	float:left;
				font-family:Arial, Helvetica, sans-serif;
				font-size:18px; font-weight:bold;
				color: #DF6800;
				margin: 10px 5px 10px 20px;
				_margin: 10px 5px 10px 10px;
				width:78%;   }
#campos_dat_us{  float:left;
				 width: 170px;
				 font-family:Arial, Helvetica, sans-serif;
				 font-size:14px; color:#31508E;
				 margin: 4px 0 0 10px;
				 padding-right:10px;		}	
#campos2_dat_us{ float:left;
				 width: 170px;
				 font-family:Arial, Helvetica, sans-serif;
				 font-size:14px; color:#31508E;
				 margin: 4px 0 0 10px;
				 padding-right:10px		}
#campos3_dat_us{ 	float:left;
					width: 50px;
				 	font-family:Arial, Helvetica, sans-serif;
					font-size:14px; color:#31508E;
					margin: 4px 0 0 5px;
					padding-right:10px;	}					

#registro_dat_us{ clear:both;
				   width:100%;
				   min-width:300px;
				   height:29px;
				   margin:5px 0px 5px 0px;	  }
.input-submit_dat_us{ 		font-family:Arial, Helvetica, sans-serif;
							font-weight:bold;
							color:#FFFFFF;
							_height:26px; 
							_width:150px;
							_margin: 0px 4px 0 6px;
							_padding: 0 0 2px 0 ;			}