#content_mant {padding-bottom:65px; /* Altura del footer */
   padding-bottom:50px\9;
   background-image:url(../img/bg.jpg);
   background-repeat:repeat-x;
   height:380px;
   min-width:1024px;
}
#principal_mant{
width:97.7%; height:97.5%;
height:96%\9;
float: left;
margin:1%;
margin: 10px 1% 1% 1%\9; 
border:1px solid #000099;
background-color:#FFFFFF;
min-width:450px;
}
#volver_mant{ float:right; margin:10px 0.5% 0 0px; width: 6%; height:20px; }
#volver-text_mant{ float:left;font-size:14px; color:#2247C6; width:20px;}
#volver-img_mant{float:left; background-image: url(../img/volver.png); width:16px; height:16px; margin:2px 5px 0 0 ;}
#titulos_2_mant{
font-family:Arial, Helvetica, sans-serif;
font-size:16px; font-weight:bold;
color:#DF6800;
margin:10px 0 10px 0px;
text-align:center;
}
#cuadro_mant{ clear:both;
    background:#fff;
	border:1px solid #d2e0ea; 
    border-radius:4px;
    -moz-border-radius:4px;
	margin:7px 5px 5px 5px;
    padding:8px 5px 5px 5px;
	overflow: hidden;
	height:84%;
	overflow:auto;
}
#titulo_mant{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px; font-weight:bold;
	color: #DF6800;
	margin: 10px 5px 10px 20px;
	_margin: 10px 5px 10px 10px;
	width:75%;                                                                                                   
	}
#marco_mant{margin:0 10px 0 5px;}	
#campo_img_mant{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#31508E;
border:1px solid #fff;
width:9.6%; float:left;
margin-left:10px;
}
#campos_mant{
float:left;	
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#31508E;
border:1px solid #fff;
width:10%;
}
#insert_mant{	border:1px solid #ccc;	width:99%;	}
#input_titulo_mant{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#333333;
width:75%;
border:1px solid #31508E;
}
#text_area_mant{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#333333;
width:75%; height:40px;
_min-width:300px;
border:1px solid #31508E;
}
#input_insert_mant{
font-family:Arial, Helvetica, sans-serif;
font-size:14px; color:#333333;
width:100%;
border:1px solid #31508E;
}
.option_mant{ border: 1px solid #31508E; 
		 width:180px;  height:25px;
		 float:left;
		 font-family:Arial, Helvetica, sans-serif;  
		 padding:0px 0px 0px 2px; 
		}
#ti_titulo_mant{clear:both; width:100%; height:32px; margin:5px 5px 10px 2px;}
#ti_contenido_mant{clear:both; width:100%; height:55px; margin:5px 5px 10px 2px;}		
#ti_entrada_mant{clear:both; width:100%; height:30px; margin:5px 5px 5px 2px;}
#ti_categoria_mant{clear:both; width:100%; height:30px; margin:5px 5px 5px 2px;}
.botones_mant{ width:50%; }
#anuncios_mant {margin-right:10px;}		
.file_1_mant {    background: #ffffff;
    		 color: #888;
		  	 width:100%;	}
#info_not_mant{	font-family:Verdana, Arial, Helvetica, sans-serif;
			font-size:14px;
			color:#333333;
			float:left;
			border:1px solid #ccc; 
			border-radius:4px;
			-moz-border-radius:4px;
			margin:0px 5px 15px 9px;
			_margin:0px 5px 15px 4px;
			padding:5px;
			width:72%;	}
#autor_mant{	float:left; width:30px;
				font-family:Verdana; font-size:11px; color:#333333;
				margin: 5px;	}
#autor_a_mant{	float:left; width:20%;
				font-family:Verdana; font-size:11px; color:#6283c4;
				margin: 5px 5px 5px 0px;	}
#fecha_mant{	float:right; width:30px;
				font-family:Verdana; font-size:11px; color:#333333;
				margin: 5px;	}
#fecha_a_mant{		float:right; width:20%;
					font-family:Verdana; font-size:11px; color:#6283C4;
					margin: 5px 5px 5px 0px;	}
#sep_mant{	background-color:#8FABE3;
			font-family:Arial, Helvetica, sans-serif;
			font-weight:bold;
			color:#FFFFFF;
			margin:0 10px 0 5px;
			_height:30px;/*IE*/
			border:1px solid #31508E;}
#seleccionar_mant{	float:left; 
					margin-right:20%; 
					margin-top:5px;
					_margin-left:-10px; /*IE*/	}
#check_mant{	width:10px; height:10px;
				_width:15px;
				_height:15px; }