#content_noticia {
   padding-bottom:100px; /* Altura del footer */
   padding-bottom:50px\9;
   background-image:url(../img/bg.jpg);
   background-repeat:repeat-x;
   height:350px;
   min-width:1024px;
   max-width:1370px;
}
#principal_noticia{
width:97.8%; height:107%;
float: left;
margin:1%;
_margin: 10px 5px 7px 5px; /*IE*/
border:1px solid #000099;
background-color:#FFFFFF;
min-width:450px;
}
#volver{ float:right; margin:10px 0% 0 0px; width:6.3%; height:20px; padding-right:20px; }
#volver-text{ float:left;font-size:14px; color:#2247C6; width:20px;}
#volver-img{float:left; background-image: url(../img/icon/volver.png); width:16px; height:16px; margin:2px 5px 0 0 ;}

#titulos_2{
font-family:Arial, Helvetica, sans-serif;
font-size:16px; font-weight:bold;
color:#DF6800;
margin:10px 0 10px 0px;
text-align:center;
}
#cuadro{ clear:both;
    background:#fff;
	border:1px solid #d2e0ea; 
    border-radius:4px;
    -moz-border-radius:4px;
	margin:7px 5px 5px 5px;
    padding:8px 5px 5px 5px;
	overflow: hidden;
	height:84%;
}
#titulo{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px; font-weight:bold;
	color: #DF6800;
	margin: 10px 5px 5px 20px;
	_margin: 10px 5px 10px 10px;
	width:75%;                                                                                                   
	}
/*#foto{
background-color:#181818;
float:left;
border:1px solid #31508E;

height:28%;
margin:0 5px 10px 9px;
_margin: 0px 5px 5px 3px; 
}*/
#seccion-img{
float:left;
margin:0 0px 5px 9px;
_margin: 0px 5px 5px 3px; /*IE6*/	
width:22%;
alignment-adjust: central;

}
#galeria{
	width:100%;	height: 60px;
	position:relative;
	margin:6px 0px 0px 0px;
}
divxddddsa {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 300px;
                height: 200px;
                margin-top: -100px;
                margin-left: -150px;
 
                overflow: auto;
                border: 1px solid red;
        }
#titulo_noticia{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px; font-weight:bold;
	color: #DF6800;
	margin: 10px 5px 10px 20px;
	_margin: 12px 10px 2px 10px; /*IE6*/
	width:78%;
}
#info_not{	float:left; background-color:#EBEBEB; 
			font-family:Verdana, Arial, Helvetica, sans-serif;
			text-align:justify; font-size:14px; color:#333333;
			border:1px solid #ccc; 
		    border-radius:4px;
		    -moz-border-radius:4px;
			margin:0px 0px 10px 14px;
			height:280px; width:75%;
			overflow:auto;	
}
#categoria{		float:left; padding-top:2px;
				width:21%; height:15px;
				font-family: arial; font-size: 11px; color:#333333;
				margin:1px 0px 5px 1%;
		  }
#cat-img{		float:left;
				background-image:url(../img/icon/categoria.png);
				width:16px; height:16px;
				margin-right:5px; 
		}
#cat-titulo{	float:left; margin:2px 0 0 2px; width:50px; } 		
#categoria_a{	float:left; margin:2px 0 0 3px; width:70px;
				font-family:arial; color:#6283c4; }						  

#autor-img-noticia{	float:left;
			background-image:url(../img/icon/1334693771_users.gif);
			background-repeat:no-repeat;
			width:12px; height:12px;
			margin: 6px 0px 0px 10px 	
			}
#autor-noticia{
float:left; width:30px;
font-family:Verdana; font-size:11px; color:#333333;
margin: 5px;
}
#autor_a-noticia{
float:left; width:20%;
font-family:Verdana; font-size:11px; color:#6283c4;
margin: 5px 2% 5px 4px;
}
#fecha-img_noticia{
float:right;
background-image:url(../img/icon/calendar.png);
background-repeat:no-repeat;
width:12px; height:12px;
margin: 6px 0px 3px 20px ;
}
#fecha_noticia{
float:right; width:30px;
font-family:Verdana; font-size:11px; color:#333333;
margin: 5px;
}
#fecha_a-noticia{
float:right; width:5.8%;
font-family:Verdana; font-size:11px; color:#6283C4;
margin: 5px 5px 5px 4px;
}
#linea{  
clear:both;
margin: 0px 5px 5px 5px;
_margin: 0px 5px 0px 3px;
width:99%;  
height:0px;/*solo queremos borde*/  
text-align:left;  
border-top:20px;/*quita el grosor extra de Opera y FFox*/  
border-bottom:#DF6800 solid 1px;  
_border-bottom: 0px;
_border-top:#DF6800 solid 1px;
}  